:root {
  --black: #080808;
  --white: #fff;

  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #e5e5e5;
  --gray-300: #d4d4d4;
  --gray-400: #a3a3a3;
  --gray-500: #737373;
  --gray-600: #525252;
  --gray-700: #404040;
  --gray-800: #262626;
  --gray-900: #171717;

  --background-color-extra-light: rgba(147, 201, 255, 1);
  --background-color-light: rgba(37, 145, 251, 1);
  --background-color-dark: rgba(0, 7, 128, 1);
  --background-modal: rgba(8, 8, 8, 0.4);

  --green: #78C850;
  --grass: #A8B820;
  --sage: #A8A878;
  --yellow: #F8D030;
  --sand: #E0C068;
  --orange: #F08030;
  --purple: #A040A0;
  --lilac: #A890F0;
  --pink: #EE99AC;
  --brightpink: #F85888;
  --red: #C03028;
  --blue: #6890F0;

  --border-radius: 12px;

  --font-size-base: 16px;
  --font-size-large: 22px;
  --font-size-xl: 24px;
  --font-size-2xl: 30px;
  --font-size-3xl: 42px;
  --font-weight-bold: 700;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-image:
    radial-gradient(circle farthest-corner at 40% 20%,
    var(--background-color-light) 5%,
    var(--background-color-dark) 70%);
  color: var(--black);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  width: 100%;
  height: 100%;
}

#app {
  margin: 82px auto auto;
  max-width: 800px;
  padding: 0 1rem 1rem;
}

/* POKEBALL */

.pokeball {
  animation: drift 8s linear infinite;
  position: absolute;
  top: 60%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: -10;
}

@keyframes drift {
  from {
    margin-left: -100%;
    width: 100%;
  }
  to {
    margin-left: 100%;
    width: 100%;
  }
}

.headline-primary {
  color: var(--white);
  font-family: 'Ranchers', cursive;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.05em;
  line-height: 1.25;
  margin: 0;
}

.headline-secondary {
  font-size: var(--font-size-3xl);
  line-height: 1;
  margin: 0;
  text-transform: capitalize;
  word-break: break-all;
}

/* NAVBAR */

.navbar-container {
  background-color: var(--background-color-extra-light);
}

.navbar {
  margin: 0 auto;
  max-width: 800px;
}

.navbar.bg-light {
  background-color: var(--background-color-extra-light)!important;
}

.navbar-toggler {
  border: 2px solid transparent;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav {
  align-items: flex-end;
}

/* POKEMON LIST */

.list-group {
  margin-top: 1rem;
}

.list-group li {
  list-style: none;
}

.list-item-wrapper {
  row-gap: 1rem;
}

.group-list-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.group-list-item .btn {
  background-color: var(--background-color-light);
  border: 2px solid var(--background-color-dark);
  border-radius: var(--border-radius);
  color: var(--white);
  font-size: var(--font-size-2xl);
  font-weight: 700;
  padding: 2rem 1rem;
  text-transform: capitalize;
  width: 100%;
}

.group-list-item .btn:hover {
  color: var(--background-color-dark);
  background-color: var(--background-color-extra-light);
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* MODAL */

.modal-content {
  align-items: center;
  background-color: var(--gray-200);
  border-radius: var(--border-radius);
  padding: 1rem;
  row-gap: 2rem;
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 0;
}

.modal-header {
  align-items: center;
  border-bottom: 1px solid var(--black);
  padding-bottom: 0.8rem;
  width: 100%;
}

.modal-header .close {
  color: var(--black);
  font-size: var(--font-size-2xl);
  margin: 0;
  padding: 0;
}

.modal-body {
  text-align: center;
}

.modal-item__name,
.modal-item__height,
.modal-item__types {
  font-size: var(--font-size-base);
  line-height: 1;
  margin-top: 0.5rem;
}

.modal-item__name {
  text-transform: capitalize;
}

.modal-item__img {
  height: auto;
  margin-top: 1rem;
  max-width: 200px;
  width: 100%;
}

.modal-footer {
  width: 100%;
}

.modal-footer button.btn.btn-primary {
  background-color: var(--background-color-light);
  border: 2px solid var(--background-color-light);
}

.modal-footer button.btn.btn-primary:hover {
  background-color: var(--white);
  border: 2px solid var(--background-color-light);
  color: var(--background-color-light);
}

.modal-footer button.btn.btn-secondary {
  border: 2px solid var(--gray-500);
}

.modal-footer button.btn.btn-secondary:hover {
  background-color: var(--white);
  border: 2px solid var(--black);
  color: var(--black);
}

/* MEDIA QUERIES */

@media all and (min-width: 576px) {
  .navbar-expand-md .navbar-nav .nav-link:last-of-type {
      padding-right: 0;
  }
}
